footer#footer
  div.container
    div.soc_icons
      ul 
        li
          a(href="https://www.linkedin.com/company/sygna/" target="_blank" title="LinkedIn")
            img(src="../assets/images/linkedin.png" alt="")
        li 
          a(href="https://twitter.com/Sygna_" target="_blank" title="twitter")
            img(src="../assets/images/twitter.png" alt="")
        li 
          a(href="http://sygna.io/" target="_blank" title="SYGNA Bridge")
            img(src="../assets/images/sygna-g.png" alt="")
    p 8F., No. 176, Changchun Rd., Zhongshan Dist., Taipei City 104, Taiwan (R.O.C.)
      br
      |Powered by Sygna.