extends ../layouts/default-layout.pug
block content
  div.container 
      ul 
        li 
          a(href="./registration.html") registration
        li
          a(href="./account_manager_return.html") account_manager_return
        li
          a(href="./account_manager_delete.html") account_manager_delete
        li
          a(href="./create_notification.html") create_notification
        li
          a(href="./approver_return.html") approver_return
        li
          a(href="./approver_delete.html") approver_delete
        li
          a(href="./registration_success.html") registration_success
        li
          a(href="./go-live.html") go-lives
        li
          a(href="./notify_approver.html") notify_approver
  