extends ../layouts/wide-layout.pug

block title
    title Notify Approver

block content
    div.container 
        div#main
            div.intro 
                h2.title Needs Apporval
                p.text Hello, 
                    br
                    |  This VASP needs your approval to be listed in Sygna Bridge.

            //- INFO table
            div.info 
                //- Company Name
                div.section
                    div.title 
                        h3 Company Name
                    div.content
                        span {Company Name}

                //- VASP Code Name
                div.section
                    div.title 
                        h3 VASP Code Name
                    div.content
                        span {VASP Code Name}

            div.cta_block
                p.text(style="margin-bottom: 0;") Please log in and approve with  
                    a(href="#" target="_blank") {back office link}
                
