/* src/assets/styles/components/_footer.scss  */

#footer {
  padding: 21px 0 24px;
  background: $main-color;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  p {
      margin-bottom: 0;
      font-size: 9px;
      font-family: $font-o;
      font-weight: normal;
  }
  .soc_icons {
      ul {
          padding: 0;
          margin: 0;
          list-style: none;
          li {
              display: inline-block;
              &:not(:last-of-type) {
                  padding-right: 15px;
              }
              a > img {
                  width: 15px;
              }
          }
      }
  }
}

